<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Id="kutePackage" Name="Kute" Manufacturer="NullDev e.U." Version="0.1.21" Scope="perUser" UpgradeCode="a7646727-a137-4b5b-a053-a558de8fa100">
    <util:CloseApplication Target="kute.exe" CloseMessage="yes" RebootPrompt="no"/>
    <Icon Id="AppIconIco" SourceFile="resources/kute.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIconIco" />
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate"/>
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="kute"/>
    </StandardDirectory>
    <Feature Id="ProductFeature" Title="Kute" Level="1">
      <ComponentGroupRef Id="RuntimeComponents" />
      <ComponentGroupRef Id="KuteComponents" />
    </Feature>
  </Package>
  <Fragment>
    <!-- the CEF runtime, render.dll, the VC runtime and resources/ staged by postbuild.js -->
    <ComponentGroup Id="RuntimeComponents" Directory="INSTALLFOLDER">
      <Files Include="..\target\release\dist\**" />
    </ComponentGroup>
    <ComponentGroup Id="KuteComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutableComponent" Guid="2a88519e-2100-4593-aeeb-c134303f06d5">
        <File Id="kute.exe" Name="kute.exe" Source="target\release\kute.exe" KeyPath="yes"/>
        <File Id="kute.pdb" Name ="kute.pdb" Source="target\release\kute.pdb"/>
        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Kute" Target="[INSTALLFOLDER]kute.exe" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="ProgramMenuShortcut" Directory="ProgramMenuFolder" Name="Kute" Target="[INSTALLFOLDER]kute.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFile Id="CleanInstallexe" Name="*.exe" On="uninstall" Directory="INSTALLFOLDER" />
        <RemoveFile Id="CleanInstalldlls" Name="*.dll" On="uninstall" Directory="INSTALLFOLDER" />
      </Component>
      <Component Id="ProtocolRegistrationComponent" Guid="2a7c9079-b4f8-423b-8ef0-c4c1080e8cd0">
        <RegistryKey Root="HKCU" Key="Software\Classes\kute">
            <RegistryValue Value="URL:kute Protocol" Type="string" />
            <RegistryValue Name="URL Protocol" Value="" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\kute\DefaultIcon">
            <RegistryValue Value="&quot;[INSTALLFOLDER]kute.exe&quot;,0" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\kute\shell\open\command">
            <RegistryValue Value="&quot;[INSTALLFOLDER]kute.exe&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
        <CustomAction Id="ExecuteKute" Impersonate="yes" Return="asyncNoWait" FileRef="kute.exe" ExeCommand="" />
    <InstallExecuteSequence >
      <Custom Action="ExecuteKute" After="InstallFinalize" Condition="NOT KUTE_NO_LAUNCH" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
